.hero-nav {
  display: inline-block;
  position: absolute;
  right: 5vw;
  padding-top: 3%;
  max-width: 50vw;
  z-index: 1000; }
  .hero-nav a {
    height: 66px;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bolder;
    transition: 0.3s ease;
    color: white;
    text-decoration: none;
    border-top: 4px transparent white;
    border-bottom: 4px transparent white;
    padding: 20px 0;
    margin: 0 15px; }
  .hero-nav a:hover {
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    padding: 6px 0; }

.info {
  z-index: 100;
  position: relative;
  top: 10vh;
  padding: 30px; }

div {
  position: absolute;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden; }
  div:before, div:after {
    content: '';
    position: absolute;
    display: none;
    box-sizing: border-box; }

body {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0; }
  body .wrapper {
    top: 50%;
    left: 0;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    transform: translatey(-50%);
    white-space: nowrap;
    overflow: visible; }
    body .wrapper .painting {
      position: relative;
      display: inline-block;
      width: 100%;
      height: 100%;
      overflow: hidden; }
      @media (max-width: 899px) {
        body .wrapper .painting {
          max-height: 100vh; } }
      @media (max-width: 500px) {
        body .wrapper .painting {
          max-height: 100vh; } }
      body .wrapper .painting .mountain {
        overflow: visible; }
        body .wrapper .painting .mountain.front.left {
          top: 95%;
          left: -20%;
          width: 130%;
          height: 70%;
          background: #101854;
          transform: rotate(13deg); }
          body .wrapper .painting .mountain.front.left:before, body .wrapper .painting .mountain.front.left:after {
            display: block;
            width: 60%;
            height: 40%;
            background: #101854; }
          body .wrapper .painting .mountain.front.left:before {
            top: -5%;
            left: -30%;
            transform: rotate(8deg); }
          body .wrapper .painting .mountain.front.left:after {
            top: -1%;
            left: 55%;
            transform: rotate(-10deg); }
          body .wrapper .painting .mountain.front.left .tree {
            transform: rotate(-13deg); }
            body .wrapper .painting .mountain.front.left .tree.tree1 {
              top: -9vw;
              left: 15%;
              width: 0;
              height: 0;
              margin-top: 3vw;
              margin-left: 0.75vw;
              border-width: 0 2.25vw 7.5vw 2.25vw;
              border-style: solid;
              border-color: transparent transparent #101854 transparent;
              overflow: visible; }
              body .wrapper .painting .mountain.front.left .tree.tree1:before, body .wrapper .painting .mountain.front.left .tree.tree1:after {
                display: block;
                width: 0;
                height: 0;
                border-style: solid;
                border-color: transparent transparent #101854 transparent; }
              body .wrapper .painting .mountain.front.left .tree.tree1:before {
                top: -2.55vw;
                left: 50%;
                transform: translatex(-50%);
                border-width: 0 1.65vw 6vw 1.65vw; }
              body .wrapper .painting .mountain.front.left .tree.tree1:after {
                top: -4.35vw;
                left: 50%;
                transform: translatex(-50%);
                border-width: 0 1.35vw 4.5vw 1.35vw; }
            body .wrapper .painting .mountain.front.left .tree.tree2 {
              top: -8vw;
              left: 30%;
              width: 0;
              height: 0;
              margin-top: 2.5vw;
              margin-left: 0.625vw;
              border-width: 0 1.875vw 6.25vw 1.875vw;
              border-style: solid;
              border-color: transparent transparent #101854 transparent;
              overflow: visible; }
              body .wrapper .painting .mountain.front.left .tree.tree2:before, body .wrapper .painting .mountain.front.left .tree.tree2:after {
                display: block;
                width: 0;
                height: 0;
                border-style: solid;
                border-color: transparent transparent #101854 transparent; }
              body .wrapper .painting .mountain.front.left .tree.tree2:before {
                top: -2.125vw;
                left: 50%;
                transform: translatex(-50%);
                border-width: 0 1.375vw 5vw 1.375vw; }
              body .wrapper .painting .mountain.front.left .tree.tree2:after {
                top: -3.625vw;
                left: 50%;
                transform: translatex(-50%);
                border-width: 0 1.125vw 3.75vw 1.125vw; }
            body .wrapper .painting .mountain.front.left .tree.tree3 {
              top: -6vw;
              left: 45%;
              width: 0;
              height: 0;
              margin-top: 2vw;
              margin-left: 0.5vw;
              border-width: 0 1.5vw 5vw 1.5vw;
              border-style: solid;
              border-color: transparent transparent #101854 transparent;
              overflow: visible; }
              body .wrapper .painting .mountain.front.left .tree.tree3:before, body .wrapper .painting .mountain.front.left .tree.tree3:after {
                display: block;
                width: 0;
                height: 0;
                border-style: solid;
                border-color: transparent transparent #101854 transparent; }
              body .wrapper .painting .mountain.front.left .tree.tree3:before {
                top: -1.7vw;
                left: 50%;
                transform: translatex(-50%);
                border-width: 0 1.1vw 4vw 1.1vw; }
              body .wrapper .painting .mountain.front.left .tree.tree3:after {
                top: -2.9vw;
                left: 50%;
                transform: translatex(-50%);
                border-width: 0 0.9vw 3vw 0.9vw; }
        body .wrapper .painting .mountain.front.right {
          top: 80%;
          left: 30%;
          width: 120%;
          height: 60%;
          background: #085b90;
          transform: rotate(-13deg); }
          body .wrapper .painting .mountain.front.right .tree {
            transform: rotate(13deg); }
            body .wrapper .painting .mountain.front.right .tree.tree1 {
              top: -8vw;
              right: 40%;
              width: 0;
              height: 0;
              margin-top: 2.5vw;
              margin-left: 0.625vw;
              border-width: 0 1.875vw 6.25vw 1.875vw;
              border-style: solid;
              border-color: transparent transparent #085b90 transparent;
              overflow: visible; }
              body .wrapper .painting .mountain.front.right .tree.tree1:before, body .wrapper .painting .mountain.front.right .tree.tree1:after {
                display: block;
                width: 0;
                height: 0;
                border-style: solid;
                border-color: transparent transparent #085b90 transparent; }
              body .wrapper .painting .mountain.front.right .tree.tree1:before {
                top: -2.125vw;
                left: 50%;
                transform: translatex(-50%);
                border-width: 0 1.375vw 5vw 1.375vw; }
              body .wrapper .painting .mountain.front.right .tree.tree1:after {
                top: -3.625vw;
                left: 50%;
                transform: translatex(-50%);
                border-width: 0 1.125vw 3.75vw 1.125vw; }
            body .wrapper .painting .mountain.front.right .tree.tree2 {
              top: -6vw;
              right: 55%;
              width: 0;
              height: 0;
              margin-top: 2vw;
              margin-left: 0.5vw;
              border-width: 0 1.5vw 5vw 1.5vw;
              border-style: solid;
              border-color: transparent transparent #085b90 transparent;
              overflow: visible; }
              body .wrapper .painting .mountain.front.right .tree.tree2:before, body .wrapper .painting .mountain.front.right .tree.tree2:after {
                display: block;
                width: 0;
                height: 0;
                border-style: solid;
                border-color: transparent transparent #085b90 transparent; }
              body .wrapper .painting .mountain.front.right .tree.tree2:before {
                top: -1.7vw;
                left: 50%;
                transform: translatex(-50%);
                border-width: 0 1.1vw 4vw 1.1vw; }
              body .wrapper .painting .mountain.front.right .tree.tree2:after {
                top: -2.9vw;
                left: 50%;
                transform: translatex(-50%);
                border-width: 0 0.9vw 3vw 0.9vw; }
            body .wrapper .painting .mountain.front.right .tree.tree3 {
              top: -4.5vw;
              right: 70%;
              width: 0;
              height: 0;
              margin-top: 1.5vw;
              margin-left: 0.375vw;
              border-width: 0 1.125vw 3.75vw 1.125vw;
              border-style: solid;
              border-color: transparent transparent #085b90 transparent;
              overflow: visible; }
              body .wrapper .painting .mountain.front.right .tree.tree3:before, body .wrapper .painting .mountain.front.right .tree.tree3:after {
                display: block;
                width: 0;
                height: 0;
                border-style: solid;
                border-color: transparent transparent #085b90 transparent; }
              body .wrapper .painting .mountain.front.right .tree.tree3:before {
                top: -1.275vw;
                left: 50%;
                transform: translatex(-50%);
                border-width: 0 0.825vw 3vw 0.825vw; }
              body .wrapper .painting .mountain.front.right .tree.tree3:after {
                top: -2.175vw;
                left: 50%;
                transform: translatex(-50%);
                border-width: 0 0.675vw 2.25vw 0.675vw; }
        body .wrapper .painting .mountain.mid {
          top: 75%;
          left: 0;
          width: 100%;
          height: 30%;
          filter: drop-shadow(0 0 3vw white); }
          body .wrapper .painting .mountain.mid .peak {
            background: linear-gradient(135deg, #8ccaca 0%, white 50%);
            transform: rotate(45deg); }
            body .wrapper .painting .mountain.mid .peak.peak1 {
              top: 10%;
              left: -10%;
              width: 60%;
              padding-top: 60%; }
            body .wrapper .painting .mountain.mid .peak.peak2 {
              top: 0;
              left: 30%;
              width: 60%;
              padding-top: 60%; }
            body .wrapper .painting .mountain.mid .peak.peak3 {
              top: 20%;
              left: -27%;
              width: 60%;
              padding-top: 60%; }
            body .wrapper .painting .mountain.mid .peak.peak4 {
              top: 22%;
              left: 52%;
              width: 60%;
              padding-top: 60%; }
            body .wrapper .painting .mountain.mid .peak.peak5 {
              top: 12%;
              left: 65%;
              width: 60%;
              padding-top: 60%; }
            body .wrapper .painting .mountain.mid .peak.peak6 {
              top: 5%;
              left: 15%;
              width: 60%;
              padding-top: 60%; }
        body .wrapper .painting .mountain.back {
          top: 65%;
          left: 0;
          width: 100%;
          height: 70%; }
          body .wrapper .painting .mountain.back .peak {
            background: linear-gradient(45deg, #8ccaca 50%, white 50%);
            transform: rotate(45deg); }
            body .wrapper .painting .mountain.back .peak.peak1 {
              top: 25%;
              left: -40%;
              width: 100%;
              padding-top: 100%; }
            body .wrapper .painting .mountain.back .peak.peak2 {
              top: 22%;
              left: -30%;
              width: 100%;
              padding-top: 100%; }
            body .wrapper .painting .mountain.back .peak.peak3 {
              top: 15%;
              left: -15%;
              width: 100%;
              padding-top: 100%; }
            body .wrapper .painting .mountain.back .peak.peak4 {
              top: 10%;
              left: 0%;
              width: 100%;
              padding-top: 100%; }
            body .wrapper .painting .mountain.back .peak.peak5 {
              top: 15%;
              left: 10%;
              width: 100%;
              padding-top: 100%; }
            body .wrapper .painting .mountain.back .peak.peak6 {
              top: 25%;
              left: 25%;
              width: 100%;
              padding-top: 100%; }
            body .wrapper .painting .mountain.back .peak.peak7 {
              top: 30%;
              left: 40%;
              width: 100%;
              padding-top: 100%; }
      body .wrapper .painting .sun {
        top: 8%;
        left: 50%;
        transform: translatex(-50%);
        width: 70%;
        padding-top: 70%;
        border-radius: 50%;
        background: #f35366;
        filter: drop-shadow(0 0 3vw white); }
      body .wrapper .painting.morning {
        background: #d5a688;
        filter: saturate(0.5) brightness(0.8); }
        body .wrapper .painting.morning .sun {
          top: 30%;
          left: -40%;
          transform: translatey(0); }
      body .wrapper .painting.noon {
        background: #fcdec9;
        filter: saturate(1) brightness(1); }
      body .wrapper .painting.evening {
        background: #b78469;
        filter: saturate(0.65) brightness(0.9); }
        body .wrapper .painting.evening .sun {
          top: 15%;
          left: 40%;
          transform: translatey(0); }
      body .wrapper .painting.night {
        background: #5c3e2d;
        filter: hue-rotate(0) saturate(0.15) brightness(0.25); }
        body .wrapper .painting.night .sun {
          width: 12%;
          height: 15%;
          padding: 5%;
          top: 5%;
          left: 30%;
          background: white;
          transform: translatey(0);
          filter: drop-shadow(0 0 3vw white); }

/*# sourceMappingURL=mountains.css.map */
